<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <script type='text/javascript' src="/static/g.pie-min.js"></script>
    <script type='text/javascript' src="/static/raphael-min.js"></script>
    <script type='text/javascript' src="/static/g.raphael-min.js"></script>
</head>
<div class=titleRibbon>
        <h2>98lumens</h2>
</div>
<div class=page>
    <div class=navigation>
        {# add panel navigation here #}
    </div>
    {% block body %}{% endblock %}
    <div class=footer>
        <p>Copyright 98lumens 2012</p>
        <p>Code at <a href="https://github.com/jasdeepg/98lumens">Github</a></p>
    </div>
</div>
